@import '~office-ui-fabric-react/dist/sass/References.scss';

.secureScript7 {
  overflow: hidden;
  // padding: 1em;  // close #61
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }

}


//https://stackoverflow.com/a/42806793
.termsOfUse {
  // background: #FEFFAE;
  margin: 20px;
  padding: 20px;
  box-shadow: 9px 13px 22px 6px rgba(0,0,0,0.39);
  // border: 20px solid transparent; /* <- here */
  transition: border 1s;
  transition: box-shadow 3s;
  background: rgb(255,250,153);
  background: radial-gradient(circle, rgba(255,250,153,1) 0%, rgba(255,220,220,1) 100%);

  //https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


.termsOfUse:hover {
  // border-color: black;
  // box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.52), inset 7px 7px 20px 10px #61616142, 5px 5px 15px 5px transparent;
}

.termsOfUse .good {
  font-weight: bold;
  color: green;
}

.termsOfUse .bad {
  font-weight: bold;
  color: rgb(180, 0, 0);
}


.policyPanel {

  padding: 15px 20px 20px 20px;

  table {
    padding-bottom: 20px;
  }
  .tableHeading {
    font-size: large;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: underline;
  }

  tr {

    td{
      padding-right: 20px;
      padding-top: 3px;
      padding-bottom: 5px;
    }
  }
  tr:hover {
    // color: darkred;
    background: white;
  }
}

.policies {
  min-height: 25vh;
  padding: 15px 20px 20px 20px;

  table {
    padding-top: 10px;
  }

  tr {

    td{
      padding-right: 20px;
      padding-top: 3px;
      padding-bottom: 5px;
    }
  }
  tr:hover {
    // color: darkred;
    background: white;
  }
}



.secProfile {

  .profHeading {
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
  }
  // min-height: 25vh;
  padding: 15px 20px 0px 20px;

  .logicContent {
    overflow: hidden; 
    transition: all 0.5s ease;
    // transition-delay: 0.3s;
    opacity: 1;
    // height: 100%;
    height: 225px;
    cursor: default;
  }
  
  .logicContentHide {

    height: 0;
    transition: all 0.6s ease;
    overflow: hidden;
    opacity: 0;
    // height: 0;
  
  }

  tr {
    th {
      padding-right: 15px;
      min-width: 70px;

    }
    td{
      padding-right: 15px;
      padding-top: 3px;
      padding-bottom: 5px;
      text-align: center;
      // display: flex;
      // justify-content: space-evenly;
      // align-items: center;
      // flex-wrap: nowrap;
      // flex-direction: row;
    }
  }
  tr:hover {
    // color: darkred;
    background: white;
  }
}